*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-bg-main);
    color: var(--color-text);
}
.bordo{
    border: 1px solid red ;
}
.bordo-b{
    border: 1px solid blue;
}
.bordo-g{
    border: 1px solid rgb(0, 255, 26);
}
.bordo-y{
    border: 1px solid rgb(195, 255, 0);
}
.bordo-v{
    border: 1px solid rgb(203, 24, 183);
}
.d-flex{
    display: flex;
}
.df-jc-sb{
    justify-content: space-between;
}
.df-jc-sa{
    justify-content: space-around;
}
.df-ac-sb{
    align-content: space-between ;
}
.df-d-colm{
    flex-direction: column;
}
.d-fixed{
    position: fixed;
}
.over-auto{
    overflow: auto;
}
ul {
    list-style: none;
}
img{
    width: 100%;
}
.text-cent{
    text-align: center;
}
h1{
    color: white;
    margin: 20px 10px;
}
h4{
    color: white;
    margin: 10px auto;
}
li{
    cursor: pointer;
}
input{
    color: var(--color-text);
    background-color: #000;
    border: none;
}
:root {
    --color-spotify: #1ed760;
    --color-bg-main: #292929;
    --color-text: #a7a7a7;
}


 /* main */
 /* main nav */
.nav-user{
    width: 200px;
    height: calc(100vh - 80px);
    line-height: 35px;
    padding: 15px 15px;
    background-color: #000;
    font-size: 16px;
}
.logo {
    width: 50%;
}
.user-sec{
    height: calc(100vh - 260px);
}
.nav-bar li img{
    width: 25px;
    margin-right: 10px;
    align-self: center;
}
.user img{
    width: 20px;
    margin-right: 10px;
}
.logo-small{
    display: none;
}
.playlist i{
    background-color: gray;
    color: black;
    padding: 7px;
    text-align: center;
    margin-right: 10px;
}
.playlist-area{
    font-size: 13px;
    height: 100%;
    min-height: 95px;
    overflow: auto;
}
.user-download{
    font-size: 10px;
}
.user-download img{
    width: 15px;
}
.user-profile img{
    background-color: gray;
    height: 20px;
    border-radius: 50%;
    align-self: center;
}
.border-l{
    border-left: 3px solid #1ed760;
    margin-left: -15px;
    margin-right: 12px;
}
.border-b{
    height: 2px;
    width: 60px;
    margin: 3px auto;
    border-left: 60px solid #1ed760;
}
/* hover nav-tab */
/* main head */
main{
    overflow: hidden;
}
.section-main{
    width:calc(100% - 200px);
    height: calc(100vh - 80px);;
}

.main-header{
    width:calc(100% - 200px);
    height: 60px;
    background-color: rgba(25, 24, 24, 0.4);
    text-align: end;
    position: fixed;
    top: 0;
    padding: 20px 25px;
}
.btn{
    margin-top: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
/* section viewport-main */
section{
    padding: 5px 10px;
}
.viewport-main{
    padding-top: 60px;
    width: 100%;
    overflow: auto;
}
.viewport-main ul{
    flex-wrap: wrap;
    justify-content: center;
}
.viewport-main li{
    margin: 10px 10px;
}
/* main nav section */

.container-nav-list{
    width: 90%;
    margin: 0 auto;
}
.container-nav-list li{
    flex-wrap: wrap;
    text-align: center;
    font-size: 15px;
}
/* main recently played */
.cards{
    flex-wrap: wrap;
}
.card{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}
.img-card{
    position: relative;
}
.play-hover{
   display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50% , -50%);
}
.c-circle img{
    border-radius: 50%;
}
/* hover */
li:hover{
    color: white;
}
input:hover{
    color: white;
}
li:hover{
    color: white;
}
.new-playlist:hover{
    color: white;
}
.user-download:hover{
    color: white;
}
.user-profile:hover{
    color: white;
}
.btn:hover{
    font-size: 20px;
}
.card:hover .play-hover{
    display: block;
}
.card:hover img{
    opacity: 0.5;
}
/* footer */
footer{
    background-color: var(--color-bg-main);
    height: 80px;
    width: 100%;
    padding: 15px 5px;
    font-size: 11px;
}
.audio-mix i, .user-audio i{
    margin: 10px 5px;
}
.audio{
width: 33%;
}
.audio-sec{
    width: 33%;
}
.audio-mix{
    justify-content: flex-end;
}
.audio-duration{
    margin-top: 5px;
    width: 350px;
    height: 4px;
    border: 1px solid;
    border-radius: 5px;
    color: var(--color-text);
    position: relative;
}
.audio-mixer{
    width: 60px;
    margin-top: 15px;
    height: 4px;
    border: 1px solid;
    border-radius: 5px;
    color: var(--color-text);
    position: relative;
}
.time{
    margin: 0 10px;
}
.audio-move{
    justify-content: center;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}
.audio-move i{
    margin: 0 10px;
}
.song-text{
    font-size: 10px;
    margin: 1px 10px;
}
.audio-sel{
    width: 50%;
    height: 3px;
    background-color:var(--color-text) ;
}
h3{
    color: white;
    font-size: 17px;
}
.circle{
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;   
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: -4px;
    display: none;
}
/* footer hover */

footer i:hover{
    color: white;
}
#play:hover{
    font-size: 30px;
    position: relative;
    top: -5px;
}
.audio-sec:hover .circle{
    display: block;
}
.audio-nav:hover .circle{
    display: block;
}
.audio-sel:hover{
    background-color: var(--color-spotify);
}

/* media-query */

/* media md */
@media all and (max-width: 1100px) {
    .card{
        width: calc(100% / 4 - 20px);
    }
      /* footer */
  
}



/* media s */
@media all and (max-width: 701px) {
    .card{
        width: calc(100% / 2 - 10px);
        margin: 5px;
    }
      /* footer */
      .user-audio{
          flex-direction: column;
      }
      .user-audio i{
          margin: 5px;
      }
     



/* media xs */
@media all and (max-width: 600px) {
    /* main nav */
    .logo-small{
        display: block;
    }
    .nav-user{
        width: 60px;
        text-align: center;
    }
    .nav-user img{
        cursor: pointer;
    }
    .user-sec{
        justify-content: end;
        padding: 15px 5px;
    }
    .user img{
        margin: unset;
    }
    .user-download{
        margin-left: 2px;
    }
    .user-profile{
        margin-top: 10px;
    }
    .logo, .nav-text, .playlist, .playlist-area,.user hr{
        display: none;
    }
    /* viewport main */
    .main-header{
        width:calc(100% - 70px);
        padding: 20px 10px ;
    }
      .section-main{
        width:calc(100% - 60px);
        height: calc(100vh - 80px);
    }

      /* footer */
      footer{
          width: 100%;
      }
 
}